@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
}

:root {
  /* Global style variables */
  --tw-clr-mint: 53 246 228;
  --tw-clr-rose: 239 81 109;
  --tw-clr-black: 32 33 37;

  --clr-primary: rgb(var(--tw-clr-rose));
  --clr-accent: rgb(var(--tw-clr-mint));
}

#__next {
  height: 100%;
}

code::before,
code::after {
  /* @apply text-primary dark:text-accent; */
  @apply hidden;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

pre {
  overflow: scroll;
}

.ReactModal__Body--open {
  position: static;
  overflow-y: scroll;
}

.ReactModal__Html--open {
  overflow-y: hidden;
}

.ReactModalPortal {
  position: fixed;
  z-index: 51 !important;
}

::selection {
  background-color: var(--clr-primary);
  color: rgb(var(--tw-clr-black));
}

body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(var(--color-iris));
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(var(--color-iris));
}
