@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    font-family: Inter, system-ui, sans-serif;
    height: 100%;
  }
  a {
    background-image: linear-gradient(to top, mint, violet, transparent);
    background-position: 0 110%;
    background-repeat: no-repeat;
    background-size: auto 0.75rem;
  }
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
html,
.lightbox-overlay {
  /* margin-left: calc(100vw - 100%); */
  width: 100vw;
}

html.prevent-scroll {
  overflow-y: hidden;
}
html.lightbox-loading,
html.lightbox-loading * {
  cursor: wait !important;
}
